.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.barContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*position: absolute;*/
  top: 0;
  left: 0;
  margin: 12px;
  width: 40%;
  background-color: #404040;
  color: #ffffff;
  /*z-index: 1 !important;*/
  padding: 6px;
  font-weight: bold;
}

.sidebarStyle {
  /*z-index: 1 !important;*/
}

.styleBar {
  /*z-index: 1 !important;*/
}